@font-face {
    font-family: Makuton_Japanese_Vintage;
    src: url(./Tipografías/Makuton_Japanese_Vintage_Typeface/Makuton.ttf);
}
body    {
    margin: 0px;
    background: rgb(240, 243, 245);
    font-family: Makuton_Japanese_Vintage;
}
.menu {
    background-color: #30a8b8;
}

.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menuCSS3 a {
    display: block;
    padding: 2em;
    background-color: #30a8b8;
    text-decoration: none;
    color: #191C26;
}
.menuCSS3 a:hover {
    background-color: #0704af;
    color: aliceblue;
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}

/* Hasta aquí el css del menú*/

.footer     {
    background-color: black;
    color: aliceblue;
    position: absolute;
    width: 100%;
}

.icon       {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    bottom: 88px;
    left: 14%;
    padding: 20px;
}

#design     {
    position: absolute;
    top: 60%;
    font-size: larger;
    right: 100px;
}

#follow     {
    position: relative;
    top: 20px;
    left: 1%;
    font-size:45px;
}

#rotulo     {
    position: absolute;
    left: 44%;
    top: 6%;
}

/*id para posicionar Spotify*/
#spoti      {
    position: absolute;
    left: 32%;
    top:40%;
}

/* Hasta aquí el css del footer*/

.title      {
    padding-left: 150px;
    padding-right: 150px;
    background-color: transparent;
    background-image: url(./Imagenes/fondo-con-la-onda-tradicional-japonesa-69817201.jpg);
    margin: auto;
}

.cuerpo     {
    padding-left: 150px;
    padding-right: 150px;
}

#link       {
    text-decoration: none;
}

#link:visited   {
    color: black;
}

h4  {
    text-align: center;
}

img     {
    display: block;
    margin: auto;
}

.video   {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    background-image: url(./Imagenes/fondo-con-la-onda-tradicional-japonesa-69817201.jpg);
    background-size: 100%;
    margin: auto;
}

#titulos {
    background-color:rgb(201, 134, 33) ;
    text-align: center;
}

#float {
    float: right;
    width: 750px;
}
