@font-face {
    font-family: Makuton_Japanese_Vintage;
    src: url(./Tipografías/Makuton_Japanese_Vintage_Typeface/Makuton.ttf);
}


body    {
    margin: 0px;
    background: rgb(240, 243, 245);
    font-family: Makuton_Japanese_Vintage;
}

.menu {
    background-color: #30a8b8;
}

.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menuCSS3 a {
    display: block;
    padding: 2em;
    background-color: #30a8b8;
    text-decoration: none;
    color: #191C26;
}
.menuCSS3 a:hover {
    background-color: #0704af;
    color: aliceblue;
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}

/* Hasta aquí el css del menú*/

.Intro    {
background: rgb(240, 243, 245);
overflow: hidden;
text-align: center;
padding: 40px;
margin: auto;
width: 50%;
left: 0px;
}

.hirakata  {
    text-align: center;
    color: rgb(20, 51, 109);
    height: 650px;
    background-image: url(./Imagenes/Blog-feature-1437-x-360-2048x934.png);
    background-color: transparent;
    margin: auto;
    position: relative;
}

.kanji      {
   padding-left: 30px;
}



#katagana   {
background-color: aliceblue;
opacity: 50%;
}

#hira       {
    position: absolute;
    left: 40px;
    top: 140px;  
}

#kata       {
    position: absolute;
    right: 40px;
    top: 140px; 
}

#video      {
    position: absolute;
    left: 670px;
    top: 140px;
}

/*Footer*/

.footer     {
    background-color: black;
    color: aliceblue;
    position: absolute;
    width: 100%;
}

.icon       {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    bottom: 88px;
    left: 14%;
    padding: 20px;
}

#design     {
    position: absolute;
    top: 60%;
    font-size: larger;
    right: 100px;
}

#follow     {
    position: relative;
    top: 20px;
    left: 1%;
    font-size:45px;
}

#rotulo     {
    position: absolute;
    left: 44%;
    top: 6%;
}

/*id para posicionar Spotify*/
#spoti      {
    position: absolute;
    left: 32%;
    top:40%;
}
