@font-face {
    font-family: Makuton_Japanese_Vintage;
    src: url(./Tipografías/Makuton_Japanese_Vintage_Typeface/Makuton.ttf);
}


body    {
    margin: 0px;
    background: rgb(240, 243, 245);
    font-family: Makuton_Japanese_Vintage;
}
nav     {
    background: repeating-radial-gradient(red, rgb(0, 174, 255), white) ;
    width: 100%;
  
}
.menu   {
    text-align: center;
    margin: 0px;
    padding: 0px;
    
}

.menu  li{
display: inline-block;
position: relative;
}

.menu   a{
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    display: block;
}

.menu a:hover{
    background: repeating-radial-gradient(rgb(85, 13, 13), rgb(4, 4, 105), white)
}

.Intro    {
background: rgb(240, 243, 245);
overflow: hidden;
text-align: center;
padding: 40px;
margin: auto;
width: 50%;
left: 0px;
}

.hirakata  {
    text-align: center;
    color: rgb(20, 51, 109);
    height: 650px;
    background-image: url(./Imagenes/Blog-feature-1437-x-360-2048x934.png);
    background-color: transparent;
    margin: auto;
    position: relative;
}

.kanji      {
   padding-left: 30px;
}

.footer     {
    background-color: black;
    color: aliceblue;
    position: absolute;
    width: 100%;
    
}

.icon       {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: -88px;
    left: 250px;
    padding: 20px;
}

.spoty      {
    position: relative;
    right: -800px;
    top: -100px;
}

#katagana   {
background-color: aliceblue;
opacity: 50%;
}

#hira       {
    position: absolute;
    left: 40px;
    top: 140px;  
}

#kata       {
    position: absolute;
    right: 40px;
    top: 140px; 
}

#video      {
    position: absolute;
    left: 670px;
    top: 140px;
}

#design     {
    position: absolute;
    top: 40%;
    font-size: larger;
    right: 100px;
}

#follow     {
    position: relative;
    top: 20px;
    font-size:45px;
}